.title {
    font-weight: 500;
    font-size: 60px;
    line-height: 1.25;
    margin: 0;
}

@media (max-width: 1024px) {
    .title {
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 34px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 32px;
    }
}